<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <div class="content-header ">
        </div>
        <div class="col-sm-6 card-body container-fluid">           

            <!-- /.login-logo -->
            <div class="card card-default">
              <div class="card-header alert-success">
                <h3 class="card-title ">
                    <i class="fas fa-check"></i>&nbsp;&nbsp;Cadastro realizado com sucesso!
                </h3>

              </div>
              <div class="card-body login-card-body">
                
                <p class="login-box-msg">Ol&aacute;, <strong>{function="FormataNomeProprio($desnome, false)"}</strong>, seja bem vindo ao ZWare Flow.</p>
                <p class="login-box-msg">Lembrando que antes de poder se logar voc&ecirc; deve confirmar seu endere&ccedil;o de e-mail clicando no link enviado para <strong>{$desemail}</strong>.</p>
                <p class="login-box-msg">Lembrando que o e-mail pode demorar uns minutos para chegar e talvez tenha ido parar na caixa de span.</p>
                
              </div>
              <!-- /.login-card-body -->
            </div>
          </div>      
    </div>
    <!-- /.content-wrapper -->
  