<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <div class="content-header ">
        </div>
        <div class="col-sm-6 card-body container-fluid">           

            <!-- /.login-logo -->
            <div class="card card-default">
              <div class="card-header alert-success">
                <h3 class="card-title ">
                    <i class="fas fa-check"></i>&nbsp;&nbsp;E-mail para recupera&ccedil;&atilde;o de senha enviado com sucesso!
                </h3>

              </div>
              <div class="card-body login-card-body">
                
                <p class="login-box-msg">Um e-mail para redefinir sua senha foi enviado para voc&ecirc;.</p>
                <p class="login-box-msg">Lembrando que o link para redefini&ccedil;&atilde;o &eacute; v&aacute;lido por 10 minutos. Se passar esse tempo, voc&ecirc; ter&aacute; que fazer uma nova solicita&ccedil;&atilde;o.</strong>.</p>
                <p class="login-box-msg">Esperamos que d&ecirc; tudo certo!</p>
                
              </div>
              <!-- /.login-card-body -->
            </div>
          </div>      
    </div>
    <!-- /.content-wrapper -->
  