<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <div class="content-header"></div>
  <div class="card col-sm-7 container-fluid">
    <!-- /.card-header -->
    <div class="card-body">
      <div class="row">
        <div class="col-sm-5">
          <h1>Criado para gerenciamento de rotinas</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas
            porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies,
            purus lectus malesuada libero, sit amet commodo magna eros quis
            urna.
          </p>
          <p>viverra imperdiet enim. Fusce est. Vivamus a tellus.</p>          
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6 box">
          <div class="card card-gray">
            <div class="card-header">
              <h3 class="card-title">Cadastre-se</h3>
            </div>
            <form role="form" action="/cadastro" method="post">
              <div class="card-body">
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label"
                    >Email</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      name="desemail"
                      placeholder="Email"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="nome" class="col-sm-4 col-form-label">Nome</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="nome"
                      name="desnome"
                      placeholder="Nome"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="sobrenome" class="col-sm-4 col-form-label"
                    >Sobrenome</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="text"
                      class="form-control"
                      id="sobrenome"
                      name="dessobrenome"
                      placeholder="Sobrenome"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="senha" class="col-sm-4 col-form-label"
                    >Senha</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="password"
                      class="form-control"
                      id="senha"
                      name="dessenha"
                      placeholder="Senha"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <label for="repetirsenha" class="col-sm-4 col-form-label"
                    >Senha</label
                  >
                  <div class="col-sm-8">
                    <input
                      type="password"
                      class="form-control"
                      id="repetirsenha"
                      name="desrepetirsenha"
                      placeholder="Repetir senha"
                    />
                  </div>
                </div>
              </div>
              <!-- /.card-body -->

              <div class="card-footer">
                <a href="/" class="btn btn-default">
                  Cancelar
                </a>
                <button type="submit" class="btn btn-info float-right">Cadastrar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->  
</div>
<!-- /.content-wrapper -->
