<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{$divisao.nome_empresa}</h1>
          <span class="description ml-3">{$divisao.texto_empresa}</span></td>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"><a href="/">Home</a></li>
              <li class="breadcrumb-item active"><a href="/{$divisao.desnomeurl_empresa}">{$divisao.apelido_empresa}</a></li>
              <li class="breadcrumb-item active"><a href="/{$divisao.desnomeurl_empresa}/{$divisao.desnomeurl_divisao}">{$divisao.desapelido}</a></li>
              <li class="breadcrumb-item active">Quadro de Funcion&aacute;rios</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <div class="content">

    <!-- Default box -->
    <div class="card">
      <div class="card-header">

        <table>
          <tr>
            <td><img class="profile-user-img img-fluid img-circle" src="\{function="obtemFotoEmpresa($divisao.desfoto_divisao)"}" alt="user image"></td>
            <td><span class="username">
              <h3><a href="#" class="ml-3">{$divisao.desapelido}</a></h3>
            </span>
            <span class="description ml-3">{$divisao.texto_divisao}</span></td>
          </tr>
        </table>

      </div>
      <div class="card-body">
        {if="$erro != ''"}
        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
          <h4><i class="icon fa fa-ban"></i> Alerta!</h4>
          {$erro}
        </div>
        {/if}
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12">

            <form method="post" autocomplete="off" action="/{$divisao.desnomeurl_empresa}/{$divisao.desnomeurl_divisao}?addFuncionario=true">
              <div class="row">
              <div class="col-12">

                <h4>Quadro de funcion&aacute;rios</h4>
                <div class="row">


                      <div class="form-group col-3">
                        <label for="desemail">E-mail*</label>
                        <input type="email" id="desemail" name="desemail"  class="form-control required" placeholder="E-mail" required maxlength="128" required>
                      </div>

                      <div class="form-group col-3">
                          <label for="desnome">Nome*</label>
                          <input type="text" id="desnome" class="form-control required" name="desnome" laceholder="Nome" maxlength="64" required>
                      </div>

                      <div class="form-group col-3">
                          <label for="dessobrenome">Sobrenome</label>
                          <input type="text" id="dessobrenome" class="form-control" name="dessobrenome" autocomplete="family-name" placeholder="Sobrenome" maxlength="64">
                      </div>

                      <div class="form-group col-3">
                          <label for="cargo">Cargo</label>
                          <select class="form-control" id="cargo" name="cargo">
                              {loop="$cargos"}
                              <option value="{$value.idcargo}">{$value.desnome}</option>
                              {/loop}
                            </select>
											</div>

											<div class="form-group col-8">
												<label for="perfil_criacao">Pode criar e visualizar tickets das unidades:</label><br>
												<div class="form-group row" id="checkBoxes">

													{if="$divisoes.quant > 0"}
														{loop="$divisoes.dados"}
														<div class="form-check col-3">
															<input class="form-group checkbox" type="checkbox" id="cb_{$value.iddivisao}">
															<label class="form-check-label mr-2" for="cb_{$value.iddivisao}">{$value.desapelido}</label>
														</div>
															{/loop}
															{/if}

												</div>
											</div>

											<div class="form-group col-3">
												<label for="perfil_fechamento">Fechamento de Tickets</label>
												<select class="form-control" id="perfil_fechamento" name="perfil_fechamento">
														<option value="0">Não pode fechar tickets</option>
														<option value="1">Fecha somente os tickets que criou</option>
														<option value="2">Fecha os que criou e os que é responsável</option>
														<option value="3">Fecha os tickets do seu setor</option>
														<option value="4">Fecha os tickets de sua divisão</option>
														<eoption value="5">Fecha os tickets de sua empresa</option>
													</select>
											</div>

											<div class="form-group col-1 unidades">
												<label for="sobrenome">&nbsp;</label>
												<input type="hidden" name="iddivisao" value="{$divisao.iddivisao}">
												<input type="submit" class="btn form-control btn-block btn-success" value="Inserir" id="criarFuncionario">
										</div>
                  </div>

              </div>

              <div class="col-12 text-muted text-sm">
                <p>OBS: Os campos com asterisco(*) s&atilde;o de preenchimento obrigat&oacute;rio. Os funcion&aacute;rios com e-mail ainda n&atilde;o cadastrado em nosso sistema ser&atilde;o convidados a participar, e estes, no momento de cadastro, poder&atilde;o alterar os dados de nome e sobrenome.</p>
              </div>
            </form>
          </div>

          <label for="busca" class="col-form-label">Busca e-mail/nome/cargo</label>
          <div class="input-group mb-2">
            <input type="search" id="busca"  onkeyup="myFunction()" onclick="myFunction()" onabort="myFunction()" class="form-control" placeholder="Busca...">
            <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-search"></span>
                </div>
            </div>
          </div>


          <table id="funcionarios" class="table table-striped">
            <thead>
              <tr>
                <th style="width: auto">Avatar</th>
                <th style="width: auto">E-mail</th>
                <th style="width: auto">Nome</th>
                <th style="width: auto">Cargo</th>
                <th style="width: 30px">Status</th>
                <th style="width: 80px">Ação</th>
              </tr>
            </thead>
            <tbody id="colaboradores">

              {loop="$funcionarios"}
							<tr>
                <td><div class="user-block"><img class="img-circle height:20 img-bordered-sm" src="\{function="obtemFotoPerfil($value.avatar)"}" alt=""></div></td>
                <td>{$value.desemail}</td>
                <td>
                  {function="FormataNomeProprio($value.nome, false)"}
                </td>
                <td>{$value.cargo}</td>
                <td>
                  {if="$value.status == 'Ativo'"}
                  <span class="badge bg-success">Ativo</span>
                  {elseif="$value.status == 'Pendente'"}
                  <span class="badge bg-warning">Pendente</span>
                  {elseif="$value.status == 'Recusado'"}
                  <span class="badge bg-danger">Recusado</span>
                  {/if}

                </td>
                <td>
                  <div class="btn-group btn-group-xs float-sm-right">
                  {if="$value.status != 'Ativo'"}
                    <button class="btn btn-default btn-sm" title="Reenviar convite"><i class="fas fa-paper-plane"></i></button>
									{/if}
									{if="$value.tipo == 'convidado'"}
										<button class="btn btn-info btn-sm" title="Editar colaborador" data-toggle="modal" data-target="#modalEditaColaborador" data-usuario="{$value.id_convite}" data-tipo="{$value.tipo}"><i class="fas fa-pencil-alt"></i></button>
									{else}
										<button class="btn btn-info btn-sm" title="Editar colaborador" data-toggle="modal" data-target="#modalEditaColaborador" data-usuario="{$value.id_quadro_funcionario}" data-tipo="{$value.tipo}"><i class="fas fa-pencil-alt"></i></button>
									{/if}

                  <button class="btn btn-danger btn-sm" title="Excluir colaborador" data-toggle="modal" data-target="#modalConfirmDelete" data-email="{$value.desemail}" data-tipo="{$value.tipo}"><i class="fas fa-trash-alt"></i></button>
                </div>
                </td>
            	</tr>
                {/loop}
            </tbody>
          </table>



          <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="modalConfirmDelete" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Comfirmar exclus&atilde;o</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                      <p>Voc&ecirc; est&aacute; prestes a excluir um funcion&aacute;rio de seu quadro. Esta opera&ccedil;&atilde;o n&atilde;o tem como desfazer.</p>

                      <p>Para evitar uma exclus&atilde;o acidental, pedimos que voc&ecirc; escreva abaixo o e-mail do funcion&aacute;rio.</p>

                      <form method="post" autocomplete="off" id="modalformExcluir" action="/{$divisao.desnomeurl_empresa}/{$divisao.desnomeurl_divisao}?editcolab=true&excluirColab=true">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">E-mail funcion&aacute;rio:</label>
                            <input type="text" class="form-control" id="modal_email" name="desemail" maxlength="65" required>
                            <input type="hidden" class="form-control" id="modal_hidden_divisao" name="divisao" value='{$divisao.iddivisao}'>
                            <input type="hidden" class="form-control" id="modal_hidden_tipo" name="tipo">
                            <input type="hidden" class="form-control" id="modal_hidden_email" name="email">
                        </div>
                    </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="modalExclui" data-dismiss="modal" class="btn btn-danger">Excluir Colaborador</button>
                    </div>
                </div>
            </div>
					</div>

					<div class="modal fade" id="modalEditaColaborador" tabindex="-1" role="dialog" aria-labelledby="modalEditaColaborador" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Editar colaborador</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body row">
											<div class="col-12 mb-3">
												<div class="user-block">
													<img class="img-circle img-bordered-sm" id="avatarModal" src="\views/uploads/upics/noprofilepicP.jpg" alt="user image">
													<span class="username">
														<a></a>
													</span>
													<span class="description" id="modalEmail"></span>
												</div>
											</div>
											<div class="col-12">
												<hr>
											</div>

											<div class="col-6">
												<label for="cargo">Cargo</label>
												<select class="form-control" id="modalCargo" name="cargo">
													{loop="$cargos"}
														<option value="{$value.idcargo}">{$value.desnome}</option>
													{/loop}
												</select>
											</div>
											<br>
											<div class="col-6">
											<label for="modalPerfilFechamento">Fechamento de Tickets</label>
											<select class="form-control" id="modalPerfilFechamento" name="modalPerfilFechamento">
													<option value="0">Não pode fechar tickets</option>
													<option value="1">Fecha somente os tickets que criou</option>
													<option value="2">Fecha os que criou e os que é responsável</option>
													<option value="3">Fecha os tickets do seu setor</option>
													<option value="4">Fecha os tickets de sua divisão</option>
													<eoption value="5">Fecha os tickets de sua empresa</option>
											</select>
											</div>
											<br>
											<div class="col-12 row mt-3">
											<label class="col-12">Gestão dos tickets</label>
											<div class="form-group row ml-2" id="modalChecks">
												{if="$divisoes.quant > 0"}
													{loop="$divisoes.dados"}
														<div class="form-check col-6">
															<input class="form-check-input" type="checkbox" id="cb2_{$value.iddivisao}">
															<label class="form-check-label mr-2" for="cb2_{$value.iddivisao}">{$value.desapelido}</label>
														</div>
															{/loop}
													{/if}
													</div>
											</div>
											<div class="col-12 mt-3">
											<label for="modalStatusColaborador">Status colaborador</label>
											<select class="form-control" id="modalStatusColaborador" name="modalStatusColaborador">
												<option value=1>Ativo</option>
												<option value=2>Afastado</option>
												<option value=0>Inatvo</option>
											</select>
											</div>
                    </form>

                    </div>
                    <div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
											<button type="submit" id="modalSalvarAlteracoes" data-dismiss="modal" class="btn btn-success">Salvar</button>
                    </div>
                </div>
            </div>
					</div>

          <script src="\src/plugins/jquery/jquery.min.js"></script>
					<script src="\src/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
					<script src="\src/plugins/sweetalert2/sweetalert2.all.min.js"></script>

          <script>
            document.getElementById("busca").addEventListener("search", function(event) {
              myFunction();
            });

          </script>

          <script>
            function myFunction() {
              // Declare variables
              var input, filter, table, tr, email, nome, cargo, email_value, cargo_value, nome_value, i, txtValue;
              input = document.getElementById("busca");
              filter = input.value.toUpperCase();
              table = document.getElementById("funcionarios");
              tr = table.getElementsByTagName("tr");

              // Loop through all table rows, and hide those who don't match the search query
              for (i = 0; i < tr.length; i++) {
                email = tr[i].getElementsByTagName("td")[1];
                nome = tr[i].getElementsByTagName("td")[2];
                cargo = tr[i].getElementsByTagName("td")[3];

                if (email || nome || cargo) {

                  email_value = email.textContent || email.innerText;
                  nome_value = nome.textContent || nome.innerText;
                  cargo_value = cargo.textContent || cargo.innerText;

                  if (email_value.toUpperCase().indexOf(filter) > -1
                      || nome_value.toUpperCase().indexOf(filter) > -1
                      || cargo_value.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }
              }
            }
          </script>


					<script type="text/javascript">

						$(document).ready(function(){
							$("#cargo").val($("#cargo option:first").val());
						});


            $('#modalConfirmDelete').on('show.bs.modal', function(event) {
              var button = $(event.relatedTarget) // Button that triggered the modal
              var email = button.data('email') // Extract info from data-* attributes
              var tipo = button.data('tipo') // Extract info from data-* attributes
                  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.

              $("#modalformExcluir").find("#modal_hidden_tipo").val(tipo);
              $("#modalformExcluir").find("#modal_hidden_email").val(email);
              $("#modalformExcluir").find("#modal_email").val('');

            });

            $('#modalExclui').click(function(){

              var emailDigitado = $("#modalformExcluir").find("#modal_email").val();
              var emailReal = $("#modalformExcluir").find("#modal_hidden_email").val();

              if(emailDigitado == emailReal)
              {
                $('#modalformExcluir').submit();
              }
              else
              {
                alert("E-mail incorreto. Verifique o valor digitado e tente novamente.");
              }
            });

          	$('#modalEditaFotoSubmit').click(function(){
              $('#modalformFoto').submit();
          });

						$("#criarFuncionario").click(function(e)
						{
							e.preventDefault();

							const Toast = Swal.mixin({
								toast: true,
								position: 'top-end',
								showConfirmButton: false,
								timer: 3000
							});

							if($('.required').val() == '')
							{
								Toast.fire({
											type: 'error',
											title: 'Preencha todos os campos com asterisco para continuar'
										})
								return;

							}


							//Obtem os dados relativos ao funcionário
							var idUsuarioCriacao = "{$idusuario}";
							var email = $("#desemail").val();
							var nome = $("#desnome").val();
							var sobrenome = $("#dessobrenome").val();
							var cargo = $("#cargo").val();
							var fechamento = $("#perfil_fechamento").val();
							var checks = $("#checkBoxes :checked");
							var ids = Array(checks.length);

							if(cargo == ""){
								cargo = 0;
							}

							for (var i = 0; i < checks.length; i++)
							{
								ids[i] = checks[i].id.replace('cb_','');
							}

							var unidadesChamados = ids.join();

							var liberado = true;

							$.ajax({
								url: '\\classhandler.php',
								method: 'POST',
								data: {
										pusuarioCriacao: idUsuarioCriacao,
										pemail: email,
										pnome: nome,
										psobrenome: sobrenome,
										pcargo: cargo,
										pfechamento: fechamento,
										punidadesChamados: unidadesChamados,
										pdivisao: "{$divisao.iddivisao}",
										poperacao: "AddColaborador"
								},
								dataType: "json",

								success: function(data) {
									if(data.status == "success"){

										var dadosRet = JSON.parse(data.retorno);

										var r_avatar = dadosRet['avatar'];
										var r_email = dadosRet['email'];
										var r_nome = dadosRet['nome'];
										var r_sobrenome = dadosRet['sobrenome'];
										var r_cargo = dadosRet['cargo'];
										var r_status = dadosRet['status'];
										var r_quadro = dadosRet['idquadroFuncionarios'];
										var r_tipo = dadosRet['tipo'];

										if(r_cargo == null){
											r_cargo = '';
										}

										if(r_avatar == ""){
											r_avatar = "views/uploads/upics/noprofilepicP.jpg";
										}

										$("#colaboradores").append("<tr><td><div class='user-block'><img class='img-circle height:20 img-bordered-sm' src='\\"+r_avatar+"' alt=''></div></td><td>"+r_email+"</td><td>"+r_nome+" " +r_sobrenome+"</td><td>"+r_cargo+"</td><td><span class='badge bg-warning'>Pendente</span></td><td><div class='btn-group btn-group-xs float-sm-right'><button class='btn btn-default btn-sm' title='Reenviar convite'><i class='fas fa-paper-plane'></i></button><button class='btn btn-info btn-sm' title='Editar colaborador' aria-disabled='true' disabled=''><i class='fas fa-pencil-alt'></i></button><button class='btn btn-danger btn-sm' title='Excluir colaborador' data-toggle='modal' data-target='#modalConfirmDelete' data-email='"+r_email+"' data-tipo='"+r_tipo+"'><i class='fas fa-trash-alt'></i></button></div></td></tr>");

										$("input[name='desnome']").val('');
										$("input[name='dessobrenome']").val('');
										$("input[name='desemail']").val('');
										$("#checkBoxes :checked").each(function() {
											this.checked = false;
										});
										$("select[name='cargo']").val(0);
										$("select[name='perfil_fechamento']").val(0);


										Toast.fire({
											type: 'success',
											title: `Convite enviado com sucesso para ${r_email}`
										})

									}
								},
								error: function(data) {
									console.log(data);
								}

						});


						});

						//TODO Implementar a edição do colaborador

            $('#modalEditaColaborador').on('show.bs.modal', function(event) {

            	var button = $(event.relatedTarget);
            	var tipo = button.data('tipo');
            	var idUsuario = button.data('usuario');
            	$.ajax({
            		url: '\\classhandler.php',
            		method: 'POST',
            		data: {
            				pusuario: idUsuario,
            				ptipo: tipo,
            				poperacao: "consultaColaborador"
            		},
            		dataType: "json",
            		success: function(data) {
            			if(data.status == "success"){
            				var dadosRet = JSON.parse(data.retorno);
                    var r_cargo = dadosRet['cargo'];
                    var r_fechamentos_tickets = dadosRet['fechamento'];
                    var r_status_colaborador = dadosRet['status'];
                    var r_abertura = dadosRet['abertura'];
                    var r_nome = dadosRet['nome'];
                    var r_email = dadosRet['email'];
                    var r_avatar = dadosRet['avatar'];

										//Insere foto do perfil
										var avatarModal = document.getElementById("avatarModal");
										avatarModal.src = "\\"+r_avatar;

										//Insere nome
                    $("#modalEditaColaborador span.username a").text(r_nome);
										$("#modalEmail").text(r_email);

										//Insere o cargo
										document.getElementById("modalCargo").value = r_cargo;
										document.getElementById("modalPerfilFechamento").value = r_fechamentos_tickets;
										document.getElementById("modalStatusColaborador").value = r_status_colaborador;

										var unidadesTickets = r_abertura.split(',');

										var ch = $("#modalEditaColaborador :checkbox");

										for(var i = 0; i < ch.length; i++){
											ch[i].checked = false;
											ch[i].removeAttribute("checked");
										}

										for (i = 0; i < unidadesTickets.length; i++) {
											var classe = "cb2_"+unidadesTickets[i];
											document.getElementById(classe).checked = true;
											console.log($(classe));
										}
            			}
            		},

            		error: function(data) {
            			console.log(data);
            		}

            });
            });

						$('#modalSalvarAlteracoes').click(function(e){
							e.preventDefault();

							//Coleta os dados
							//Obtem os dados relativos ao funcionário
							var idUsuarioCriacao = "{$idusuario}";
							var cargo = $("#modalCargo").val();
							var fechamento = $("#modalPerfilFechamento").val();
							var checks = $("#modalChecks :checked");
							var status = $("#modalStatusColaborador").val();

							var ids = Array(checks.length);

							if(cargo == "" || cargo == null){
								cargo = 0;
							}

							for (var i = 0; i < checks.length; i++)
							{
								ids[i] = checks[i].id.replace('cb2_','');
							}

							var unidadesChamados = ids.join();

							//Salva no banco


							//Atualiza a pagina



						});



					</script>

        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  <!-- /.content -->
</div>
</div>
<!-- /.content-wrapper -->
