<!-- Content Wrapper. Contains page content -->
<content class="ticketSystem">
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Tickets</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
						<li class="breadcrumb-item active">Tickets</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

		{if="$tickets.quant > 0"}
		{loop="$tickets.dados"}
    <!-- Default box -->
		<div class="ticket">
			{if="$value.dif_prazo > 3"}
			<div class="cartao-ticket normal">
				{elseif="$value.dif_prazo > 0"}
			<div class="cartao-ticket atencao">
				{else}
				<div class="cartao-ticket perigo">
				{/if}
				<div class="ticket-card-body">
					<div class="status-ticket">
						<div class="id-ticket">#{$value.idticket}</div>
						<div class="status-ticket novo"><span>Novo</span></div>
					</div>
					<div class="desc-ticket">
						<span class="ticket-anexo">
						</span>
						<div class="titulo-ticket">
							{$value.destitulo}
						</div>
						<span class="data-ticket"> - {function="formataDataHora($value.dtcriacao)"}</span>
						<div class="corpo-ticket">
							{$value.descorpo}
						</div>

					</div>
				</div>
				<div class="ticket-card-footer">
					<ul>
						<li class="li-ticket tam-p">
							<a href="#" data-id="1015196" class="botaoPin"><span class="fas fa-thumbtack gray active"></span></a>
						</li>

						<li class="li-ticket tam-p">
							<a href="#" data-id="1015196" class="botaoFav"><span class="far fa-star gray"></span></a>
						</li>
						<li class="li-ticket tam-p">
							<a href="#"><div class="fas fa-ellipsis-h gray"></div></a>
						</li>
						<li class="li-ticket tam-g">
							{if="$value.nome_dest != 'null'"}
							<a href="/perfil/{$value.url_dest}">
								<div class="user-ticket">
									<img src="\{function="obtemFotoPerfil($value.foto_dest)"}" title="{function="FormataNomeProprio($value.nome_dest, false)"}">
									<div class="tipo-usuario-ticket">Destinatário</div>
									<div class="nome-usuario-ticket">{function="FormataNomeProprio($value.nome_dest, false)"}</div>
								</div>
							</a>
							{else}
							<a href="#" class="btn btn-xs btn-success btnAssumir">
								Assumir
							</a>
							{/if}
						</li>
						<li class="li-ticket tam-g">
							<a href="/perfil/{$value.url_rem}">
								<div class="user-ticket">
									<img src="\{function="obtemFotoPerfil($value.foto_rem)"}" alt="{function="FormataNomeProprio($value.nome_rem, false)"}">
									<div class="tipo-usuario-ticket">Emitente</div>
									<div class="nome-usuario-ticket">{function="FormataNomeProprio($value.nome_rem, false)"}</div>
								</div>
							</a>
						</li>
						</li>
						<li class="li-ticket tam-m {$value.prioridade_classe}">
							<div class="titulo-subtitulo-ticket  ">
								<i>Prioridade</i>
								<p class="priori-modarada">{$value.prioridade}</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>Tipo</i>
								<p>{$value.tipo}</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>Enviado</i>
								<p>{function="formataData($value.dtcriacao)"}</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>prazo</i>
								<p>{function="formataData($value.dtprazo)"}</p>
							</div>
						</li>
						<li class="li-ticket pull-right tam-g">
							<div class="titulo-subtitulo-ticket">
								<i>Categoria</i>
								<p><strong>{$value.nome_setor}</strong> / <strong>{$value.categoria}</strong> / <strong>{$value.subcategoria}</strong></p>
							</div>
						</li>

					</ul>
				</div>
			</div>
			<div class="cartao-ticket-menu" onmouseout="ocultaMenu(this)" onmouseover="exibeMenu(this)">
				<ul>
					<li>
						<a href="#" class="ticket-menu" onmouseover="exibeMenu(this)">
							<span class="fas fa-reply"></span>Responder
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							<span class="fas fa-forward"></span>Encaminhar
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							Menu 3
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							Menu 4
						</a>
					</li>
				</ul>
			</div>
		</div>
		{/loop}
		{/if}

		<!-- /.card-body -->



    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
</content>
<!-- /.content-wrapper -->

