<!-- Content Wrapper. Contains page content -->
<content class="ticketSystem">
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Tickets</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
						<li class="breadcrumb-item active">Tickets</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
		<div class="ticket">
			<div class="cartao-ticket perigo">
				<div class="ticket-card-body">
					<div class="status-ticket">
						<div class="id-ticket">#1.015.196</div>
						<div class="status-ticket novo"><span>Novo</span></div>
					</div>
					<div class="desc-ticket">
						<span class="ticket-anexo">
							<i class="fas fa-paperclip gray active"></i>
						</span>
						<div class="titulo-ticket">
							Não consigo acessar o portal do BI
						</div>
						<span class="data-ticket"> - 25/12/2019</span>
						<p class="corpo-ticket">
							Aliquip incididunt dolor voluptate ullamco irure eu sint anim Lorem incididunt sunt. Dolor cupidatat irure aliquip pariatur in sint ea aliqua nostrud minim eiusmod tempor. Exercitation non ut sint proident ea irure deserunt velit proident cupidatat.
						</p>

					</div>
				</div>
				<div class="ticket-card-footer">
					<ul>
						<li class="li-ticket tam-p">
							<a href="#" data-id="1015196" class="botaoPin"><span class="fas fa-thumbtack gray active"></span></a>
						</li>

						<li class="li-ticket tam-p">
							<a href="#" data-id="1015196" class="botaoFav"><span class="far fa-star gray"></span></a>
						</li>
						<li class="li-ticket tam-p">
							<a href="#"><div class="fas fa-ellipsis-h gray"></div></a>
						</li>
						<li class="li-ticket tam-g">
							<a href="#">
								<div class="user-ticket">
									<img src="\views/uploads/upics/noprofilepicP.jpg" alt="Vágner Lenon">
									<div class="tipo-usuario-ticket">Destinatário</div>
									<div class="nome-usuario-ticket">Epaminondas nome grande </div>
								</div>
							</a>
						</li>
						<li class="li-ticket tam-g">
							<a href="#">
								<div class="user-ticket">
									<img src="\views/uploads/upics/noprofilepicP.jpg" alt="Vágner Lenon">
									<div class="tipo-usuario-ticket">Emitente</div>
									<div class="nome-usuario-ticket">Vágner Lenon</div>
								</div>
							</a>
						</li>
						</li>
						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket priori-baixa">
								<i>Prioridade</i>
								<p class="priori-modarada">Baixa</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>Tipo</i>
								<p>Resposta</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>Enviado</i>
								<p>01/01/2020</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>prazo</i>
								<p>01/01/2020</p>
							</div>
						</li>
						<li class="li-ticket pull-right tam-g">
							<div class="titulo-subtitulo-ticket">
								<i>Categoria</i>
								<p><a href="#">Compras</a> / <a href="#">Problemas</a> / <a href="#">Recebimento</a></p>
							</div>
						</li>

					</ul>
				</div>
			</div>
			<div class="cartao-ticket-menu" onmouseout="ocultaMenu(this)" onmouseover="exibeMenu(this)">
				<ul>
					<li>
						<a href="#" class="ticket-menu" onmouseover="exibeMenu(this)">
							<span class="fas fa-reply"></span>Responder
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							<span class="fas fa-forward"></span>Encaminhar
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							Menu 3
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							Menu 4
						</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="ticket">
			<div class="cartao-ticket perigo">
				<div class="ticket-card-body">
					<div class="status-ticket">
						<div class="id-ticket">#1.015.196</div>
						<div class="status-ticket novo"><span>Novo</span></div>
					</div>
					<div class="desc-ticket">
						<span class="ticket-anexo">
							<i class="fas fa-paperclip gray active"></i>
						</span>
						<div class="titulo-ticket">
							Não consigo acessar o portal do BI
							<span class="data-ticket"> - 25/12/2019</span>
						</div>
						<p class="corpo-ticket">
							Aliquip incididunt dolor voluptate ullamco irure eu sint anim Lorem incididunt sunt. Dolor cupidatat irure aliquip pariatur in sint ea aliqua nostrud minim eiusmod tempor. Exercitation non ut sint proident ea irure deserunt velit proident cupidatat.
						</p>

					</div>
				</div>
				<div class="ticket-card-footer">
					<ul>
						<li class="li-ticket tam-p">
							<a href="#"><span class="fas fa-thumbtack gray active"></span></a>
						</li>

						<li class="li-ticket tam-p">
							<a href="#"><span class="far fa-star gray active"></span></a>
						</li>
						<li class="li-ticket tam-p">
							<a href="#"><div class="fas fa-ellipsis-h gray"></div></a>
						</li>
						<li class="li-ticket tam-g">
							<a href="#">
								<div class="user-ticket">
									<img src="\views/uploads/upics/noprofilepicP.jpg" alt="Vágner Lenon">
									<div class="tipo-usuario-ticket">Destinatário</div>
									<div class="nome-usuario-ticket">Epaminondas nome grande </div>
								</div>
							</a>
						</li>
						<li class="li-ticket tam-g">
							<a href="#">
								<div class="user-ticket">
									<img src="\views/uploads/upics/noprofilepicP.jpg" alt="Vágner Lenon">
									<div class="tipo-usuario-ticket">Emitente</div>
									<div class="nome-usuario-ticket">Vágner Lenon</div>
								</div>
							</a>
						</li>
						</li>
						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket priori-baixa">
								<i>Prioridade</i>
								<p class="priori-modarada">Baixa</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>Tipo</i>
								<p>Resposta</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>Enviado</i>
								<p>01/01/2020</p>
							</div>
						</li>

						<li class="li-ticket tam-m">
							<div class="titulo-subtitulo-ticket">
								<i>prazo</i>
								<p>01/01/2020</p>
							</div>
						</li>
						<li class="li-ticket pull-right tam-g">
							<div class="titulo-subtitulo-ticket">
								<i>Categoria</i>
								<p><a href="#">Compras</a> / <a href="#">Problemas</a> / <a href="#">Recebimento</a></p>
							</div>
						</li>

					</ul>
				</div>
			</div>


			<div class="cartao-ticket-menu" onmouseout="ocultaMenu(this)" onmouseover="exibeMenu(this)">
				<ul>
					<li>
						<a href="#" class="ticket-menu" onmouseover="exibeMenu(this)">
							<span class="fas fa-reply"></span>Responder
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							<span class="fas fa-forward"></span>Encaminhar
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							Menu 3
						</a>
					</li>
					<li>
						<a href="#" class="ticket-menu">
							Menu 4
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- /.card-body -->



    <!-- /.card -->

  </section>
  <!-- /.content -->
</div>
</content>
<!-- /.content-wrapper -->

