<!-- Content Wrapper. Contains page content -->
<content >
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">

    <div class="container-fluid">
      <div class="row mb-2">

        <div class="col-sm-6">
          <h1>Tickets</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item active"><a href="/">Home</a></li>
						<li class="breadcrumb-item active">Tickets</li>
          </ol>
        </div>
			</div>
		</section>
    <section class="content">
		<div class="card"><!-- /.container-fluid -->
				<div class="card-body p-0">
					<table class="table table-striped projects" width="100%">
							<thead>
									<tr>
										<th style="width: 5%">
												#
										</th>
										<th style="width: 5%">
											Prioridade
										</th>
										<th style="width: 20%">
												Título
										</th>
										<th style="width: 10%" class="hide_p">
											Categoria / Assunto
										</th>
										<th style="width: 30%" class="hide_mobile hide_p">
												Solicitante(s)
										</th>
										<th style="width: 8%" class="text-center hide_mobile hide_p">
												Status
										</th>
										<th style="width: 5%" class="hide_mobile hide_p">

										</th>
									</tr>
							</thead>
							<tbody>

								{if="$tickets.quant > 0"}
								{loop="$tickets.dados"}
									<tr>
											<td>
												{$value.idticket}
											</td>
											<td class="project-state">
												<span class="badge {$value.prioridade_classe}">{$value.prioridade}</span>
											</td>
											<td>
												<a>
													<a href="\tickets/{$value.idticket}">{$value.destitulo}</a>
												</a>
												<br/>
												<small>
														Criado em {function="formataDataHora($value.dtcriacao)"} -
														Prazo solicitado {function="formataData($value.dtprazo)"}
												</small>
											</td>
											<td class="hide_p">
												{function="FormataNomeProprio($value.categoria, false)"} / {function="FormataNomeProprio($value.subcategoria, false)"}
											</td>
											<td class="hide_mobile hide_p">
												<ul class="list-inline">
														<li class="list-inline-item">
																<img alt="Avatar" class="table-avatar" src="\{function="obtemFotoPerfil($value.foto_rem)"}" title="{function="FormataNomeProprio($value.nome_rem, false)"} - {$value.cargo_rem}">
														</li>
												</ul>
											</td>
											<td class="project-state hide_mobile hide_p">
													<span class="badge badge-success">Success</span>
											</td>
											<td class="hide_mobile hide_p">
												<div class="btn-group btn-group-sm float-right">
												<button class="btn btn-info btn-xs btn-edit" title="Editar cargo"><i class="fas fa-pencil-alt"></i></button>
												<button class="btn btn-info btn-xs btn-edit" title="Editar cargo"><i class="fas fa-pencil-alt"></i></button>
												<button class="btn btn-danger btn-xs btn-delete" title="Excluir cargo"><i class="fas fa-trash-alt"></i></button>
											</div>
											</td>
									</tr>
								{/loop}
								{/if}
							</tbody>
					</table>
				</div>
		</div>
</section>
</div>
</content>
<!-- /.content-wrapper -->

