<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
        <div class="content-header ">
        </div>
        <div class="login-box col-sm-6 card-body container-fluid">

            <!-- /.login-logo -->
            <div class="card">
              <div class="card-body login-card-body">
                <p class="login-box-msg">Cadastre-se para iniciar sua sessão</p>

                <form action="../../index3.html" method="post">
                  <div class="input-group mb-3">
										{if="$mail != ''"}
											<!-- <input type="email" class="form-control" id="email" value="{$email}" placeholder="Email" disabled=''> -->
										{else}
											<input type="email" class="form-control" id="email" placeholder="Email">
										{/if}
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                      <input type="text" class="form-control" id="nome" placeholder="Nome">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-user"></span>
                        </div>
                      </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome">
                        <div class="input-group-append">
                          <div class="input-group-text">
                            <span class="fas fa-user"></span>
                          </div>
                        </div>
                      </div>

                  <div class="input-group mb-3">
                    <input type="password" class="form-control" id="senha" placeholder="Senha">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>

                  <div class="input-group mb-3">
                      <input type="password" class="form-control" id="repetirSenha" placeholder="Repetir senha">
                      <div class="input-group-append">
                        <div class="input-group-text">
                          <span class="fas fa-lock"></span>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <a href="/" class="btn btn-default">Cancelar</a>
                      <button type="submit" class="btn btn-info float-right">Cadastrar</button>
                    </div>
                </form>

                <p class="mb-0">
                  Já é cadastrado? <a href="/login" class="text-center">logar</a>
                </p>
              </div>
              <!-- /.login-card-body -->
            </div>
          </div>

    </div>
    <!-- /.content-wrapper -->
